@charset "UTF-8";

.gif-large{
    display: none;
    position: absolute;
    margin: 0 auto;
    padding: 0 auto;
}

.gif-small {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

#display{
    padding-top: 20 px;
}

#header {
    width: 100%;
}

#search-form {
    display:block;
}

@media screen and (min-width: 960px){

    .gif-large{
        display: block;
        position: absolute;
    }
    
    .gif-small {
        display: none;
    }
}